body, html {
    margin: 0;
    background: rgba(0,0,0,0.0);
    overflow: hidden;
    position: relative;
    min-width: 154px;
    width: 100%;
    height: 100%;
}

/* https://www.cssfontstack.com/Open-Sans */

h1 {
    font-family: "Open Sans";
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}

h3 {
    font-family: "Open Sans";
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}

p {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

blockquote {
    font-family: "Open Sans";
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

pre {
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dice-box { 
    font-family: EotE;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@font-face {
    font-family: EotE;
    src: url(/fonts/EotE_font.otf);
}

.toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
}

.toolbar-item {
    width: 40px;
    height: 40px;
    opacity: 1.0;
    cursor: pointer;
}

.toolbar-item:active {
    opacity: 0.8;
}

.dragging {
    opacity: 0.8;
}

.white-rounded {
    margin: 20px;
    padding: 8px;
    background: white;
    border-radius: 5px;
    box-shadow: 4px 3px 9px 0px rgba(0,0,0, 0.3);
}
