body {
    margin: 0;
}
/* https://www.cssfontstack.com/Open-Sans */

h1 {
    font-family: "Open Sans";
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}

h3 {
    font-family: "Open Sans";
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}

p {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

blockquote {
    font-family: "Open Sans";
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

pre {
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

input, button {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
}
input:focus::placeholder {
    color: transparent;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

.dice {
    box-shadow: 3px 3px 5px #222222;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: white;
    color: black;
    margin: 10px;
    text-align: center;
    z-index: 100;
}
.dice > h3{
    margin: 0;
    line-height: 60px;  
}
.dice:active {
    width: 70px;
    height: 70px;
    margin: 2px 2px 8px 8px;
    box-shadow: none;
}
.dice:active > h3 {
    line-height: 70px;
}

#dice-input {
    width: 150px;
    margin: 15px;
}

#dice-roll-button {
    margin-left: -15px;
    width: 50px;
}

#button-container {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

#dice-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: teal;
}