body {
    margin: 0;
    background: lightskyblue;
    overflow: hidden;
}


/* https://www.cssfontstack.com/Open-Sans */

h1 {
    font-family: "Open Sans";
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}

h3 {
    font-family: "Open Sans";
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}

p {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

blockquote {
    font-family: "Open Sans";
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

pre {
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}

.svg-dice:active {
    transform: scale(1.1) translate(1px, -3px);
    box-shadow: none;
  }

#input-container {
    padding-top: 10px;
    top: 0px;
    width: 220px;
    height: 30px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    top: 0px;
    width: 100%;
}

#dice-input {
    width: 150px;
    height: 100%;
    padding: 0;
    border: 2px solid #333333;
}

#dice-roll-button {
    background: #333333;
    height: 100%;
    width: 50px;
    padding: 0;
    border: 2px solid #333333;
    color: white;
    font-family: "Open Sans";
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

#button-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    bottom: 0px;
    width: 100%;
}

.svg-dice {
    margin: 5px;
}

#dice-box {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}